body {
  background-color: var(--ligth-pink);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .menu {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 0;
  gap: 200px;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  background-color: var(--ligth-pink);
  height: 30px;
}

body .menu a {
  color: var(--grey);
  text-decoration: none;
  font-family: 'Inter';

}

body .menu a:hover {
  text-decoration: underline;
}

body .logo-easyfood {
  width: 60px;
  height: 60px;
}


body main {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding-top: 100px;
  width: 100%;
  align-items: center;

}

body main .foods-image {
  width: 100%;
}

body main .apresentation {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

body main .apresentation button {
  background-color: var(--green);
  border-radius: 32px;
  color: var(--white);
  font-size: 20px;
  border: none;
  width: 150px;
  font-weight: 600;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .apresentation-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  height: 350px;
  color: var(--grey);

}

.apresentation-text h1 {
  font-size: 56px;
  font-family: 'Josefin Sans';
}

.apresentation-text p {
  font-size: 24px;
  font-family: 'Josefin Sans';
}

.healthy {
  color: var(--orange);
}

.life {
  color: var(--red);
}

.easyfood {
  color: var(--green);
}

body main .center-image {
  width: 600px;
  height: 600px;
}

body main .products {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  
}

body main .products h1 {
  color: var(--orange);
  font-family: 'Josefin Sans';
  font-size: 40px;
  font-weight: bold;

}

body main .salads-area {
  position: relative;
  width: 400px;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.custom-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.custom-nav .custom-prev,
.custom-nav .custom-next {
  background: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

.custom-nav .custom-prev:hover,
.custom-nav .custom-next:hover {
  background: #ddd;
}

.foods-image {
  width: 100%;
}
